In [3]:
import pandas as pd

df = pd.read_csv('./data/final/train.csv')

In [4]:
df.head()

,RNA_id,sequence,structure,length,source
0,bpRNA_CRW_33063,GCGGGUGUAGCUCAGUGGUAGAGCAUCACGUUGCCAACGUGAGAGU...,(((((((..((((.......))))((((((.......))))))......,72,bpRNA
1,bpRNA_CRW_33870,GCGCUAGUGGUUUAGUGGUAAAAUCUCAGUUUCCCAUACUGAGGCC...,(((((((..((((.......))))((((((.......))))))......,71,bpRNA
2,bpRNA_CRW_8901,UAAUACAUGCAAGUCGAGCGGACUGAUGGGAGCUUGCUCCCUGAKG...,...(((.(((..(((..((((((....(((((....)))))....)...,1465,bpRNA
3,bpRNA_CRW_42213,GGGUUCUUAGCUCAGUUGGUAGAGCAGCGGACUCUUAAUCCGUAGG...,(((((((..((((........))))((((((.......)))))).....,76,bpRNA
4,bpRNA_CRW_5934,GUGCUUAACACAUGCAAGUCGAGCGCCCCGCAAGGGGAGCGGCAGA...,((((....(((.(((..(((..(((((((....))))))))))......,1400,bpRNA

In [5]:
df = df['sequence'].values

In [6]:
df

array(['GCGGGUGUAGCUCAGUGGUAGAGCAUCACGUUGCCAACGUGAGAGUCGUGAGUUCGAAUCUCAUCACCCGCU',
       'GCGCUAGUGGUUUAGUGGUAAAAUCUCAGUUUCCCAUACUGAGGCCCCGGGUUCGAUUCCCGGCUGGCGCA',
       'UAAUACAUGCAAGUCGAGCGGACUGAUGGGAGCUUGCUCCCUGAKGUUAGCGGCGGACGGGUGAGUAACACGUGGGCAACCUGCCUGUAAGACUGGGAUAACUCCGGGAAACCGGGGCUAAUACCGGAUAACCCGUUCCACCUCAUGGUGGAGCGGUAAAAGAUGGCCUCUGGCUAUCACUUACAGAUGGGCCCGCGGCGCAUUAGCUAGUUGGUAAGGUAACGGCUUACCAAGGCGACGAUGCGUAGCCGACCUGAGAGGGUGAUCGGCCACACUGGGACUGAGACACGGCCCAGACUCCUACGGGAGGCAGCAGUAGGGAAUCUUCCGCAAUGGACGAAAGUCUGACGGAGCAACGCCGCGUGAGUGAUGAAGGUUUUCGGAUCGUAAAGCUCUGUUGUUAGGGAAGAACAAGUGCCGUUUGAAUAAGGCGGCACCUUGACGGUACCUAACCAGAAAGCCACGGCUAACUACGUGCCAGCAGCCGCGGUAAUACGUAGGUGGCAAGCGUUGUCCGGAAUUAUUGGGCGUAAAGCGCGCGCAGGCGGUCUCUUAAGUCUGAUGUGAAAGCCCACGGCUCAACCGUGGAGGGUCAUUGGAAACUGGGAGACUUGAGUACAGAAGAGGAGAGUGGAAUUCCACGUGUAGCGGUGAAAUGCGUAGAUAUGUGGAGGAACACCAGUGGCGAAGGCGACUCUCUGGUCUGUAACUGACGCUGAGGCGCGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCUGGUAGUCCACGCCGUAAACGAUGAGUGCUAGGUGUUAGGGGUUUCGAUGCCCUUAGUGCCGAAGUUAACACAUUAAGCACUCCGCCUGGGGAGUACGACCGCAAGGUUGAAACUCAAAGGAAUUGACGGGGGCCCGCACAAGCAGUGGAGCAUGUGGUUUAAUUCGAAGCAACGCGAAGAACCUUACCAGGUCUUGACAUCCUUUGACCACUCUAGAGAUAGAGCUUUCCCCUUCGGGGGACAAAGUGACAGGUGGUGCAUGGUUGUCGUCAGCUCGUGUCGUGAGAUGUUGGGUUAAGUCCCGCAACGAGCGCAACCCUUGAUCUUAGUUGCCAGCAUUCAGUUGGGCACUCUAAGGUGACUGCCGGUGACAAACCGGAGGAAGGUGGGGAUGACGUCAAAUCAUCAUGCCCCUUAUGACCUGGGCUACACACGUGCUACAAUGGAUGGUACAAAGGGCUGCAAAACCGCGAGGUUGAGCGAAUCCCAUAAAGCCAUUCUCAGUUCGGAUUGUAGGCUGCAACUCGCCUACAUGAAGCCGGAAUUGCUAGUAAUCGCGGAUCAGCAUGCCGCGGUGAAUACGUUCCCGGGCCUUGUACACACCGCCCGUCACACCACGAGAGUUUGUAACACCCGAAGUCGGUGAGGUAACCUUUUGGAGCCAGCCGCCUAAGGUGGGACAGAUGAUUGGGGUGAAGUCGUAACAA',
       ...,
       'GGGCUCGUAGCUCAGCGGGAGAGCGCCGCCUUUGCGAGGCGGAGGCCGCGGGUUCAAAUCCCGCCGAGUCCACCA',
       'GUAUGGUUAACCCGCAGACGAUCGAAAGGGAUGUGGAUGAAAGCCUAAGCCG',
       'GGGCCCGUGGUCUAGUUGGUCAUGACGCCGCCCUUACGAGGCGGAGGUCCGGGGUUCAAGUCCCCGCGGGCCCACCA'],
      dtype=object)

In [8]:
ranges = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
counts = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
for i in ranges:
    for j in df:
        if len(j) <= i:
            counts[ranges.index(i)] += 1

In [10]:
counts = [ i- j for i, j in zip(counts, [0] + counts[:-1])]

In [11]:
counts

[30440, 16008, 2737, 2589, 1091, 836, 464, 660, 724, 390]

In [12]:
ranges = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
counts = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
for i in ranges:
    for j in df:
        if len(j) <= i:
            counts[ranges.index(i)] += 1

In [13]:
counts = [i - j for i, j in zip(counts, [0] + counts[:-1])]

In [14]:
counts

[57, 436, 711, 1243, 1238, 2523, 3396, 12414, 4436, 3986]